.planet {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-white);
  cursor: pointer;
  text-decoration: none;
  color: var(--color-white);
}

.planet:last-child {
  border-bottom: none;
}

.planet:first-child {
  border-top: 1px solid var(--color-white);
}
